body {
	background-color: green;
}

.box {
	display: block;
	width: 350px;
	height: 500px;
	position: relative;
	float: center;
	top: 25px;
	border: 10px;
	padding: 25px;
	margin: 10 auto;
	border-color: black;
	border-radius: 5px;
	background-color: #DCD7D6;
	text-align: left;
}

.font1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #C1B9B7;
	font-size: 25px;
}

.font2 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #C1B9B7;
	font-size: 15px;
}

.font3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #C1B9B7;
	font-size: 10px;
}

input[type=text], select {
    width: 49%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*input[type=text], textarea {
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}*/

input[type=textarea] {
    width: 100%;
    height: 75px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: none;
    color: grey;
    text-align: left;
}

textarea {
    width: 100%;
    height: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    resize: none;
    color: grey;
    text-align: left;
}